@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphic-text: hsl(167, 40%, 24%);
$photography-text: hsl(198, 62%, 26%);
$footerBg: hsl(168, 34%, 41%);
$heading-text: hsl(212, 27%, 19%);
$testimonial-text: hsl(213, 9%, 39%);
$paragraph-text: hsl(232, 10%, 55%);
$testimonial-heading: hsl(210, 4%, 67%);